@import "./Common/variables.scss";

.App {
  width: 100%;
  height: 100%;

  color: $black;
  display: flex;
  justify-content: center;
  flex-flow: column wrap;
}

.ListSection {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex: 1;
}

.ListBox {
  background: $gray-light;
  border-radius: $border-radius;
  height: 90%;
  width: 90%;
  display: flex;
}
